
<!-- top image header -->
<div class="header-inner text-align-center">
    <div class="holder">
        <h2>We’re a new kind of venture fund run by students, for students.</h2>
    </div>
</div>
<!-- top image header end -->

<!-- Start Section Title -->
<section id="about-page">
	<h2>Our mission is to inspire and support careers in the startup industry</h2>
    <span class="arrow"></span>
</section>
<!-- End Section Ttile -->

<!-- Start About Section -->
<div id="about" class="anchor"></div>
<section id="content" class="container" style="padding-bottom:50px;">
    <div class="row">
        <div class="span12">
            <div class="page-title">
                <h3>About DRF</h3>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="span12">
            <p>Dorm Room Fund is a student-run venture firm that invests in student-run companies. Our team is all students and our mission is to inspire and support more careers in the startup industry. We believe that a relatively small amount of capital can help student founders take their ideas from the dorm room to the market. We are laser-focused on working with the best student talent in the world. We're backed by <a href="http://firstround.com/" target="_blank">First Round Capital</a>.</p>
        </div>
    </div>
</section>

<div class="header-inner2 text-align-center">
</div>

<section id="content2" class="container">
    <div class="row">
        <div class="span12">
            <div class="page-title">
                <h3>How We Work</h3>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="span6">
            <h3 class="text-align-center">For Students</h3>
            <p>Dorm Room Fund invests in student-run companies. Your founding team must include at least one full-time student (undergraduate or graduate). Our two exceptions are if you are within a one year leave of absence or graduated within 3 months.</p>
        </div>
        
        <div class="span6">
            <h3 class="text-align-center">By Students</h3>
            <p>Dorm Room Fund investors are all students. We have diverse backgrounds in entrepreneurship, investing, and curriculum majors. And we share one passion – helping our peers start amazing companies. <a href="/apply">We love to hear about your big ideas</a>.</p>
        </div>

    </div>

    <div class="row">
        <div class="span6">
            <h3 class="text-align-center">$20,000</h3>
            <p>Our average investment size is $15,000 - $20,000 on a founder-friendly uncapped convertible note. <a href="http://blog.dormroomfund.com/2013/03/26/frictionless-funding/" target="_blank">Learn more about our goal to make to make the funding process friction free</a>.</p>
        </div>
        
        <div class="span6">
            <h3 class="text-align-center">Service First</h3>
            <p>We are students too and understand the unique set of challenges faced by full-time students starting a company. We put founders first and welcome ideas for how we can provide better service to student entrepreneurs.</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h3 class="text-align-center">National Network</h3>
            <p>Dorm Room Fund has student investment teams based in <a href="/newyork">New York City</a>, <a href="/bayarea">San Francisco Bay Area</a>, <a href="/philly">Philadelphia</a>, and <a href="/boston">Boston</a>. We consider student teams from other cities for investment but our main focus is helping students within these four cities.</p>
        </div>

        <div class="span6">
            <h3 class="text-align-center">More than Money</h3>
            <p>Resources and mentorship are as important in starting a startup as seed capital, if not more. That is why Dorm Room Fund provides robust resources for our portfolio including: discounts and partnerships with premier service providers, PR, <a href="#advisors" class="binding-link">mentorship from our incredible RAs</a>, DRF events, and, of course, access to a national network of other amazing student entrepreneurs like yourself.</p>
        </div>
    </div>

</section>
<!-- End About Section -->

<div class="header-inner3 text-align-center">
</div>

<!-- Start Advisors Section -->
<section id="title-page" style="margin-top:0!important;">
    <div id="advisors" class="anchor"></div>
    <h2>DRF Advisors</h2>
    <span class="arrow"></span>
</section>
<section id="content3" class="container">
    
    <div class="row">
        <div class="span12">
            <p>While Dorm Room Fund provides the initial capital that student entrepreneurs need to start a business, we also know how important mentorship can be when you're just starting up. That's why we've assembled a community of incredible advisors (RAs) who are here to help you take your business to the next level.</p>
        </div>
    </div>
<!-- Start RAs-->
    <div class="row">
        <div class="span12">
            <div class="page-title">
                <h3 style="text-transform:none;">RAs</h3>
            </div>
        </div>
    </div>

    <section id="team" class="container">
         <div class="row">
            <div class="span12">
                <div class="row">
                    <ul id="people">
                        <!-- loop through and show all RAs -->
                        {{#ras}}

                        <li class="single-people span2">
                                <a class="team-hover" href="/people/{{slug}}">
                                <div class="team-img">
                                    <img src="../img/people/{{photo}}" alt="{{name}}">
                                    <div class="overlay"></div>
                                    <i class="people-overlay">{{school}}</i>
                                </div>
                                
                                <div class="team-name">
                                    <h3>{{name}}</h3>
                                    <h4>{{company}}</h4>
                                </div>
                            </a>
                        </li>

                        {{/ras}}

                    </ul>
                    
                </div>

            </div>
        </div>

    </section>

<!-- End RAs-->
</section>
<!-- End Advisors Section -->

<div class="header-inner4">
</div>

<!-- Start Press Section -->
<div id="press" class="anchor"></div>
<section id="title-page" style="margin-top:0!important;">
    <h2>DRF Press</h2>
    <span class="arrow"></span>
</section>

<section id="press-holder">
    <div class="container-fluid">
        <h5 class="title-small text-align-center">For media inquiries, please contact <a href="mailto:press@dormroomfund.com">press@dormroomfund.com</a></h5>

            <!-- === FIRST ROW Press -->

            <div class="row-fluid no-space-3">

                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://www.forbes.com/sites/tomiogeron/2013/08/13/tiptop-speakers-is-first-dorm-room-fund-startup-in-bay-area/" target="_blank">
                                <img src="../img/press/forbes-tiptop.jpg" alt="Forbes - Dorm Room Fund Invests In First Bay Area Startup, TipTop Speakers">
                            </a>
                            <figcaption>
                                <h5><strong>Forbes:</strong> <em>Dorm Room Fund Invests In First Bay Area Startup, TipTop Speakers</em></h5>
                                <a href="http://www.forbes.com/sites/tomiogeron/2013/08/13/tiptop-speakers-is-first-dorm-room-fund-startup-in-bay-area/" target="_blank">Read More</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->

                <div class="span4 whitezone desc">
                    <h4>Techcrunch</h4>
                    <p><em>"Backed By First Round’s Dorm Room Fund, Pagevamp Turns Facebook Pages Into Websites"</em></p>
                    <p><a href="http://techcrunch.com/2013/06/19/pagevamp-dorm-room-fund/" target="_blank">Read More</a></p>
                </div><!-- /span4 -->
                    
                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://www.fastcompany.com/3015591/first-round-capital-gave-11-students-500000-and-this-is-what-they-did-with-it" target="_blank">
                               <img src="../img/press/fastco-drfnyc.jpg" alt="First Round Capital Gave 11 Students $500,000, And This Is What They Did With It">
                            </a>
                            <figcaption>
                                <h5><strong>FastCompany:</strong> <em>First Round Capital Gave 11 Students $500,000, And This Is What They Did With It</em></h5>
                                <a href="http://www.fastcompany.com/3015591/first-round-capital-gave-11-students-500000-and-this-is-what-they-did-with-it" target="_blank">Read More</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->
            </div><!-- /row-fluid -->

            <!-- === Second ROW Press -->

            <div class="row-fluid no-space-3">

                <div class="span4 whitezone desc">
                    <h4>Stanford Daily</h4>
                    <p><em>"Dorm Room Fund gives students $500,000 to invest in student startups"</em></p>
                    <p><a href="http://www.stanforddaily.com/2013/05/29/dorm-room-fund-gives-students-500000-to-invest-in-student-startups/" target="_blank">Read More</a></p>
                </div><!-- /span4 -->

                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://www.bloomberg.com/video/how-is-peer-to-peer-venture-capital-different-dU0a3P3xQoOi5sxf92KsfQ.html" target="_blank">
                                <img src="../img/press/bloomberg.jpg" alt="Bloomberg - How Is Peer-to-Peer Venture Capital Different?">
                            </a>
                            <figcaption>
                                <h5><strong>Bloomberg:</strong> <em>How Is Peer-to-Peer Venture Capital Different?</em></h5>
                                <a href="http://www.bloomberg.com/video/how-is-peer-to-peer-venture-capital-different-dU0a3P3xQoOi5sxf92KsfQ.html" target="_blank">View Video</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->
                    
                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://techcrunch.com/2013/05/01/first-round-capital-expands-500k-student-run-investment-arm-dorm-room-fund-to-silicon-valley/" target="_blank">
                               <img src="../img/press/techcrunch-drf.jpg" alt="Techcrunch First Round Capital Expands $500K, Student-Run Investment Arm Dorm Room Fund To Silicon Valley">
                            </a>
                            <figcaption>
                                <h5><strong>Techcrunch:</strong> <em>First Round Capital Expands $500K, Student-Run Investment Arm Dorm Room Fund To Silicon Valley</em></h5>
                                <a href="http://techcrunch.com/2013/05/01/first-round-capital-expands-500k-student-run-investment-arm-dorm-room-fund-to-silicon-valley/" target="_blank">Read More</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->
            </div><!-- /row-fluid -->
            
            <!-- === Third ROW Press -->
            <div class="row-fluid no-space-3">

                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://www.businessinsider.com/11-whip-smart-students-have-been-tasked-with-finding-the-next-mark-zuckerberg-2013-4/" target="_blank">
                                <img src="../img/press/business-insider.jpg" alt="11 Whip-Smart Students Have Been Tasked With Finding The Next Mark Zuckerberg">
                            </a>
                            <figcaption>
                                <h5><strong>Business Insider:</strong> <em>11 Whip-Smart Students Have Been Tasked With Finding The Next Mark Zuckerberg</em></h5>
                                <a href="http://www.businessinsider.com/11-whip-smart-students-have-been-tasked-with-finding-the-next-mark-zuckerberg-2013-4/" target="_blank">Read More</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->

                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://www.bloomberg.com/video/dorm-fund-turns-students-into-venture-capitalists-jTMtEY_~RGOXasYiTgfozA.html" target="_blank">
                                <img src="../img/press/bloomberg-josh-kopelman.jpg" alt="Dorm Fund Turns Students Into Venture Capitalists">
                            </a>
                            <figcaption>
                                <h5><strong>Bloomberg:</strong> <em>Dorm Fund Turns Students Into Venture Capitalists</em></h5>
                                <a href="http://www.bloomberg.com/video/dorm-fund-turns-students-into-venture-capitalists-jTMtEY_~RGOXasYiTgfozA.html" target="_blank">View Video</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->

                <div class="span4 whitezone desc">
                    <h4>Fox Business</h4>
                    <p><em>"Funding Entrepreneurship from Dorm Rooms"</em></p>
                    <p><a href="http://video.foxbusiness.com/v/2287265977001/funding-entrepreneurship-from-dorm-rooms/" target="_blank">View Video</a></p>
                </div><!-- /span4 -->             
            </div>

            <!-- === Fourth ROW Press -->
            <div class="row-fluid no-space-3">

                <div class="span4 whitezone desc">
                    <h4>Techcrunch</h4>
                    <p><em>"First Round Expands $500K Student-Run Investment Arm, Dorm Room Fund, To New York City Universities"</em></p>
                    <p><a href="http://techcrunch.com/2013/02/25/first-round-expands-500k-student-run-investment-arm-dorm-room-fund-to-new-york-city-universities/" target="_blank">Read More</a></p>
                </div><!-- /span4 -->  

                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://finance.fortune.cnn.com/2012/09/24/funding-the-dorm-room/" target="_blank">
                                <img src="../img/press/cnn-money-drf.jpg" alt="Funding the dorm room">
                            </a>
                            <figcaption>
                                <h5><strong>CNN Money:</strong> <em>Funding the Dorm Room</em></h5>
                                <a href="http://finance.fortune.cnn.com/2012/09/24/funding-the-dorm-room/" target="_blank">Read More</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->

                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://mashable.com/2013/02/25/dorm-room-fund/" target="_blank">
                                <img src="../img/press/mashable-drf.jpg" alt="Dorm Room Fund Wants to Help Students Start Companies">
                            </a>
                            <figcaption>
                                <h5><strong>Mashable:</strong> <em>Dorm Room Fund Wants to Help Students Start Companies</em></h5>
                                <a href="http://mashable.com/2013/02/25/dorm-room-fund/" target="_blank">Read More</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->

            </div>

            <!-- === Fifth ROW Press -->
            <div class="row-fluid no-space-3">

                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://boss.blogs.nytimes.com/2013/04/02/a-start-up-fund-that-lets-college-students-make-the-decisions/" target="_blank">
                                <img src="../img/press/nytimes-drf.jpg" alt="11 Whip-Smart Students Have Been Tasked With Finding The Next Mark Zuckerberg">
                            </a>
                            <figcaption>
                                <h5><strong>New York Times:</strong> <em>A Start-Up Fund That Lets College Students Make the Decisions</em></h5>
                                <a href="http://boss.blogs.nytimes.com/2013/04/02/a-start-up-fund-that-lets-college-students-make-the-decisions/" target="_blank">Read More</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->

                <div class="span4 whitezone desc">
                    <h4>Forbes</h4>
                    <p><em>"First Round's Student-Run Dorm Room Fund Expanding Nationwide"</em></p>
                    <p><a href="http://www.forbes.com/sites/tomiogeron/2013/02/25/first-rounds-student-run-dorm-room-fund-expanding-nationwide/" target="_blank">Read More</a></p>
                </div><!-- /span4 -->  

                <div class="span4">
                    <div class="grid mask">
                        <figure>
                            <a href="http://pandodaily.com/2012/09/24/for-students-by-students-first-round-capital-announces-dorm-room-fund-in-philly/" target="_blank">
                                <img src="../img/press/pando-daily-drf.jpg" alt="For Students, By Students: First Round Capital Announces Dorm Room Fund in Philly">
                            </a>
                            <figcaption>
                                <h5><strong>Pando Daily:</strong> <em>For Students, By Students: First Round Capital Announces Dorm Room Fund in Philly</em></h5>
                                <a href="http://pandodaily.com/2012/09/24/for-students-by-students-first-round-capital-announces-dorm-room-fund-in-philly/" target="_blank">Read More</a>
                            </figcaption><!-- /figcaption -->
                        </figure><!-- /figure -->
                    </div><!-- /grid-mask -->
                </div><!-- /span4 -->

            </div>
</section>        
<!-- End Press Section-->

<!-- Start Contact Section -->
<div id="contact" class="anchor"></div>
<section id="title-page" style="margin-top:0!important;">
    <h2>DRF Contact</h2>
    <span class="arrow"></span>
</section>

<section id="content3" class="container">
    
    <div class="row">
        <div class="span6">
            <h3>Contact Us</h3>
            <ul>
                <li>
                    For general questions: <a href="mailto:info@dormroomfund.com">info@dormroomfund.com</a>
                </li>
                <li>
                    For media inquiries: <a href="mailto:press@dormroomfund.com">press@dormroomfund.com</a>
                </li>
            </ul>
        </div>
    <div class="span6">
            <h3>Where Are We?</h3>
            <p>We're students in schools across New York, the Bay Area, and Philadelphia. Interested in meeting up? Drop us a line. We'd love to hear more about what you're working on.</p>
        </div>
    </div>
</section>
<!-- End Contact Section -->