<!-- Start Image Static -->
<div class="header-inner5 text-align-center margin-40">
    <div class="holder">
        <h2>Dorm Room Fund Boston</h2>
        <div class="form-holder row-fluid" style="margin-top:10px;">
        <a class="button-main button-medium2" href="http://dormroomfund.wufoo.com/forms/z7p7s5/" onclick="window.open(this.href,  null, 'height=2322, width=680, toolbar=0, location=0, status=1, scrollbars=1, resizable=1'); return false">Apply to be on<br /> Investment Team <br /> <span>(apps due Sept 24 at 12pm ET)</span></a>
        <a class="button-main button-medium2 padding-fix binding-link" href="#rsvp">RSVP for Drew Houston<br /> Talk &amp; Info Sessions</a>   
        </div>
    </div>
</div>
<!-- End Image Static -->

<!-- Contact Section -->
<div class ="anchor" id="rsvp"></div>

<section class="container margin-20">
    <div class="row">
        <div class="span12">
              <h4>Dorm Room Fund Speaker Series: Drew Houston (Oct 3)</h4>
              <img src="img/people/drew-houston.jpg" class="margin-40" alt="Drew Houston" height="150px" width="150px" style="float:left; margin-right:25px;"/>
              <p>
                 We're pleased to host Drew Houston for a talk at MIT on Oct 3. Join us to hear Drew share personal stories about the early days of Dropbox and the role MIT played in his journey as a founder.
              </p>
              <p>
                Space is limited, please reserve your seat below. Priority will be given to students currently working on starting a company. 
              </p>
        </div>
    </div>
</section>
<section id="contact">
  <div class="container">
    <!-- Title Page -->
    <!-- End Title Page -->
  
      <div id="response">
      <!-- Contact Form -->
      <div class="row margin-50">
          <div class="span8">
              <form method="POST" id="contact-form" class="contact-form" action="/bostonsubmit">
                  <h4>RSVP for October 3rd Drew Houston Talk</h4> 
                  <p class="contact-name">
                      <label>Name</label>
                      <input id="contact_name" type="text" placeholder="Your Name*"
                      name="name" class="required"
                      value="{{submission.name}}" required />
                  </p>
                  <p class="contact-email">
                      <label>University Email Address</label>
                      <input id="contact_email" placeholder="Your University Email Address*"
                      name="email" type="email" class="required"
                      value="{{submission.email}}" required  />
                  </p>
                  <p class="school">
                      <label>University</label>
                      <input id="school" type="text" placeholder="Your University*"
                      value="{{submission.school}}" type="text" name="school" class="required" required/>
                  </p>
                  <p class="degree">
                      <label>Degree</label>
                      <input id="degree" type="text" placeholder="Your Degree*"
                      value="{{submission.degree}}" name="degree" class="required"
                      required/>
                      </p>
                  <p class="concentration">
                      <label>Concentration</label>
                      <input id="concentration" type="text" placeholder="Your Concentration"
                      value="{{submission.concentration}}" name="concentration"/>
                      </p>
                  <p class="linkedInURL">
                      <label>LinkedIn</label>
                      <input id="linkedInURL" type="text" placeholder="Your LinkedIn URL"
                      value="{{submission.linkedInURL}}" name="linkedInURL" />
                  </p>
                  <p class="startup">
                      <label>Are you working on a startup?</label>
                      <textarea id="startup" placeholder="If you are working on a startup, please share one brief sentence on what you're building. If possible, include a link to show us."
                      value="{{submission.startup}}" name="startup" rows="7"
                      cols="40" ></textarea>
                  </p>

                  <input type="submit" class="submit btn" value="Submit RSVP">

                  <div id="response">

                  </div>

              </form>
          </div>

          <div class="span4">
              <div class="contact-details">
                  <h5>For more information on how to become involved with Dorm Room Fund, please attend one of our upcoming information sessions:</h5>
                  <ul>
                    <li>
                        <a href="https://dormroomfundhbs.eventbrite.com/" target="_blank">HBS Information Session (Sept 19)</a>
                    </li>    
                    <li>
                        <a href="https://dormroomfundharvard.eventbrite.com/" target="_blank">Harvard Information Session (Sept 20)</a>
                    </li>
                    <li>
                        <a href="https://dormroomfundmit.eventbrite.com/" target="_blank">MIT Information Session (Sept 20)</a>
                    </li>   
                  </ul>
              </div>
          </div>


    </div>

  </div>
  <!-- End Contact Form -->
</div>
</section>
<!-- End Contact Section -->
