<!-- Start Slider -->
<section id="slider">
    <div class="fullwidthbanner-container">
        <div class="fullwidthbanner">
            
        	<ul style="visibility:hidden;">
            
            	<!-- THE FIRST SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                    <img src="img/slider-images/student.jpg" alt="Dorm Room Fund">
                    
            		<div class="caption heading lfl sfb"
                         data-x="center"
                         data-y="210"
                         data-speed="300"
                         data-start="500" >Dorm Room Fund</div>

                    <div class="caption subheading lfl sfb"
                         data-x="center"
                         data-y="279"
                         data-speed="300"
                         data-start="800" >We’re a new kind of venture fund run by students, for students.</div>
                         
                     <a class="caption link lfl sfb"
                         href="/about"
                         data-x="center"
                         data-y="334"
                         data-speed="300"
                         data-start="1200" >Learn More About Our Work   <i class="font-icon-arrow-simple-right"></i></a>
                </li>
                
                <!-- THE SECOND SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                    <img src="img/slider-images/new-york-city.jpg" alt="Dorm Room Fund New York City" data-fullwidthcentering="on">
                    
                    <div class="caption heading sfb"
                         data-x="center"
                         data-y="210"
                         data-speed="300"
                         data-start="500" >Dorm Room Fund New York City</div>

                    <div class="caption subheading sfb"
                         data-x="center"
                         data-y="279"
                         data-speed="300"
                         data-start="800" >Investing in New York's student entreprenenurs</div>
                         
                     <a class="caption link sfb"
                         href="/newyork"
                         data-x="center"
                         data-y="334"
                         data-speed="300"
                         data-start="1200" >Go to Dorm Room Fund NYC   <i class="font-icon-arrow-simple-right"></i></a>
                </li>
                
                <!-- THE THIRD SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                    <img src="img/slider-images/bay-area.jpg" alt="Dorm Room Fund Bay Area" data-fullwidthcentering="on">
                    
                    <div class="caption heading lfl sfb"
                         data-x="center"
                         data-y="210"
                         data-speed="300"
                         data-start="500" >Dorm Room Fund Bay Area</div>

                    <div class="caption subheading lfl sfb"
                         data-x="center"
                         data-y="279"
                         data-speed="300"
                         data-start="800" >The first choice for student entrepreneurs in the Bay Area</div>
                         
                     <a class="caption link lfl sfb"
                         href="/bayarea"
                         data-x="center"
                         data-y="334"
                         data-speed="300"
                         data-start="1200" >Go to Dorm Room Fund Bay Area   <i class="font-icon-arrow-simple-right"></i></a>
                </li>

                <!-- THE FOURTH SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                    <img src="img/slider-images/philly.jpg" alt="Dorm Room Fund Philly" data-fullwidthcentering="on">
                    
                    <div class="caption heading sfb"
                         data-x="center"
                         data-y="210"
                         data-speed="300"
                         data-start="500" >Dorm Room Fund Philadelphia</div>

                    <div class="caption subheading sfb"
                         data-x="center"
                         data-y="279"
                         data-speed="300"
                         data-start="800" >By students, for students in greater Philly</div>
                         
                     <a class="caption link sfb"
                         href="/philly"
                         data-x="center"
                         data-y="334"
                         data-speed="300"
                         data-start="1200" >Go to Dorm Room Fund Philly   <i class="font-icon-arrow-simple-right"></i></a>
                </li>             

                <!-- THE FIFTH SLIDE -->
                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                    <img src="img/slider-images/boston.jpg" alt="Dorm Room Fund Boston" data-fullwidthcentering="on">
                    
                    <div class="caption heading sfb"
                         data-x="center"
                         data-y="210"
                         data-speed="300"
                         data-start="500" >Dorm Room Fund Boston</div>

                    <div class="caption subheading sfb"
                         data-x="center"
                         data-y="279"
                         data-speed="300"
                         data-start="800" >Coming this Fall to Boston's campuses</div>
                         
                     <a class="caption link sfb"
                         href="/boston"
                         data-x="center"
                         data-y="334"
                         data-speed="300"
                         data-start="1200" >Sign Up for Updates   <i class="font-icon-arrow-simple-right"></i></a>
                </li>  
            </ul>
            
        </div>
    </div>
</section>
<!-- End Slider -->

<!-- Start Intro Box -->
<section id="intro-box" class="margin-80">
	<div class="container">
    	<div class="row">
        	<div class="span12">
            	<h3>We believe that, when small amounts of capital can find remarkable students with big ideas, amazing things can happen</h3>
                <span class="arrow"></span>
            </div>
        </div>
    </div>
</section>
<!-- End Intro Box -->

<!-- Start About -->
<section id="about" class="container margin-80">
    <div class="row">
        <div class="span4">
            <h3>Why We Exist</h3>
            <p>Dorm Room Fund is a student-run venture firm that invests in student-run companies. Our team is all students and our mission is to inspire and support more careers in the startup industry. We believe that a relatively small amount of capital can help student founders take their ideas from the dorm room to the market. We are laser-focused on working with the best student talent in the world. We're backed by <a href="http://firstround.com/" target="_blank">First Round Capital</a>.</p>
            <div class="button-holder">
                <a class="button-main button-medium" href="/about">Learn More</a>
            </div>
        </div>
        <div class="span4">
            <h3>Cities</h3>
            <p>The Dorm Room Fund aims to be the first choice for student entrepreneurs who need capital to start their amazing businesses. Check us out in the following cites.</p>
            <div class="button-holder">
                <a class="button-main button-medium" href="/newyork">New York City</a>
                <a class="button-main button-medium" href="/bayarea">Bay Area</a>
                <a class="button-main button-medium" href="/philly">Philadelphia</a>
                <a class="button-main button-medium" href="/boston">Boston (Coming Soon!)</a>
            </div>
        </div>   
        <div class="span4">
            <h3>Have a startup?</h3>
            <p>Are you a current student that is playing an active role in creating and managing an awesome dorm room startup?</p>
            <p>If so, let us know about your big idea - we can’t wait to hear from you.</p>
            <div class="button-holder">
                <a class="button-main button-medium" href="/apply">Submit Your Business</a>
            </div>
        </div>
    </div>
</section>
<!-- End About -->