<!-- Start Section Title -->
<section id="title-page" class="margin-40">
	<h2>We've received your RSVP!</h2>
    <span class="arrow"></span>
</section>
<!-- End Section Ttile -->

<!-- Message Section -->
<section id="contact" class="text-align-center">
  <div class="container">
    <div class="row margin-20">
      <div class="span12">
        <p>Thanks! You'll be hearing from us shortly. For more information on how to become involved with Dorm Room Fund, please attend one of our upcoming information sessions:</p>
       <ul style="list-style: none;">
        <li>
            <a href="https://dormroomfundhbs.eventbrite.com/" target="_blank">HBS Information Session (Sept 19)</a>
        </li>    
        <li>
            <a href="https://dormroomfundharvard.eventbrite.com/" target="_blank">Harvard Information Session (Sept 20)</a>
        </li>
        <li>
            <a href="https://dormroomfundmit.eventbrite.com/" target="_blank">MIT Information Session (Sept 20)</a>
        </li>   
      </ul>
      </div>
    </div>

  </div>

</section>

<!-- Message Section End-->